.block-hero {

  .hero {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    max-width: 310px;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;

    .nome {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
    }

    .id {
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    .cargo, .email {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
  
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;

    &:hover {
      background-color: #cfd8dc;
    }

    &:disabled {
      background-color: #eee;
      color: #ccc;
      cursor: auto;
    }
  }
}
