@import url('https://fonts.googleapis.com/css?family=Karla');
@import 'assets/_variaveis';

body {
  background: #f0f0f0;
  margin: 2em;
  color: $font-color;

  *, *:after, *:before {
    font-family: 'Karla', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input[type="text"], button {
    color: $font-color;
  }

  a {

    &:visited, &:link {
      color: $font-color;
    }
  }
}

h1 {
  color: $font-color;
  font-size: 250%;
}
h2, h3 {
  color: $font-color;
}
